/* Title Styling for MovieApp */
.title {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 3);  /* Subtle drop shadow for depth */
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Button {
    -fx-background-color: #707cff; /* Lighter blue color */
    -fx-text-fill: #ffffff;
    -fx-font-size: 25px;
    -fx-padding: 10px 25px; /* Adjust padding for more oval shape */
    -fx-background-radius: 95px;
    -fx-border-radius: 95px; /* Slightly sharper radius */
    -fx-border-color: #7c70ff; /* Subtle border to define button shape */
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 5); /* Subtle shadow effect */
}

Button:hover {
    -fx-background-color: #5449f4; /* Slightly darker blue on hover */
    -fx-border-color: #5a49f4; /* Darker border on hover */
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 3); /* Darker shadow on hover */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

Button:pressed {
    -fx-background-color: #384fc4; /* Even darker blue when pressed */
    -fx-border-color: #3848c4;
    -fx-text-fill: #ffffff;
    -fx-scale-x: 1.09;
    -fx-scale-y: 1.09;
}

.Region {
    -fx-pref-width: 45;
}

/* Style for hover state */
.link:hover {
    -fx-font-weight: bold; /* Make text bold on hover */
    -fx-underline: true; /* Underline the text on hover */
}

/* Style for clicked state (pressed) */
.link:pressed {
    -fx-text-fill: #989aa6; /* Even darker blue when pressed */
    -fx-underline: true; /* Keep it underlined when clicked */
}
