/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  -fx-effect: dropshadow(
    three-pass-box,
    rgba(0, 0, 0, 0.3),
    5,
    0,
    0,
    3
  ); 
}

/* Background Gradient */
AnchorPane {
  background: linear-gradient(
    to bottom,
    #82c7ff,
    #d3f2ff
  ); /* Standard property for compatibility */
  -fx-background: linear-gradient(
    to bottom,
    #82c7ff,
    #d3f2ff
  ); /* Soft blue gradient */
  -fx-pref-width: 600;
  -fx-pref-height: 400;
}

/* Title Bar */
HBox {
  -fx-padding: 7px;
}

Button {
  -fx-background-color: #70a9ff;
  -fx-padding: 5px 10px;
  -fx-border-radius: 20px;
  -fx-border: 2px solid #70a9ff;
  -fx-cursor: hand;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 3);
  -fx-transition: all 0.3s ease;
}

Button:hover {
  -fx-background-color: #4997f4; /* Slightly darker blue on hover */
  -fx-border-color: #4997f4; /* Darker border on hover */
  -fx-text-fill: #ffffff;
  -fx-effect: dropshadow(
    three-pass-box,
    rgba(0, 0, 0, 0.3),
    5,
    0,
    0,
    3
  ); /* Darker shadow on hover */
  -fx-transform: scale(1.05); /* Subtle grow effect on hover */
}

Button:pressed {
  -fx-background-color: #3871c4; /* Even darker blue when pressed */
  -fx-border-color: #3871c4;
  -fx-text-fill: #ffffff;
  -fx-transform: scale(1.4); /* Slightly bigger size when clicked */
  -fx-transition: all 0.6s ease-in-out; /* Smoother transition when clicked */
}

.Region {
  -fx-pref-width: 45;
}
